<template>
  <q-page class="flex flex-center q-pa-xl">
    <q-card class="auth">
      <q-card-section>
        <h4 class="text-center q-mb-none">
          {{ $t('register') }}
        </h4>
      </q-card-section>

      <q-card-section>
        <q-form
          ref="form"
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            filled
            v-model="form.firstName"
            :label="$t('first-name')"
            name="first_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.middleName"
            :label="$t('middle-name')"
            name="middle_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.lastName"
            :label="`${$t('last-name')} *`"
            name="last_name"
            lazy-rules
            :rules="[rules.required, rules.min3Chars]"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            v-model="form.email"
            :label="`${$t('email')} *`"
            lazy-rules
            :rules="[rules.required, rules.isValidEmail]"
          >
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.phone"
            :label="`${$t('phone')} *`"
            name="phone"
            lazy-rules
            :rules="[rules.required, rules.min3Chars]"
          >
            <template v-slot:prepend>
              <q-icon name="phone" />
            </template>
          </q-input>

          <q-input
            type="password"
            v-model="form.password"
            :label="`${$t('password')} *`"
            lazy-rules
            :rules="[rules.required]"
          >
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('register') }}

              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" color="primary" flat class="q-ml-sm" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { register } from 'api/auth'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'Register',

  data() {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      form: {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        password: ''
      },
      rules: {
        required: val => val && val.length > 0 || this.$t('required-field'),
        min3Chars: val => val && val.length > 3 || this.$t('min-3-chars'),
        isValidEmail: val => this.isValidEmail(val)
      }
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async onSubmit() {
      try {
        if (this.$refs.form.validate()) {
          this.loading = true
          this.error = false

          const data = {
            first_name: this.form.firstName,
            middle_name: this.form.middleName,
            last_name: this.form.lastName,
            email: this.form.email,
            phone: this.form.phone,
            password: this.form.password
          }

          await register(data)

          this.loading = false

          // Redirect user to login page
          this.$router.push({ name: 'Login' })

          this.$q.notify({
            color: 'positive',
            icon: 'check',
            message: this.$t('registration-successful'),
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset() {
      this.form.firstName = null
      this.form.middleName = null
      this.form.lastName = null
      this.form.email = null
      this.form.phone = null
      this.form.password = null

      // Reset validations
      this.$refs.form.resetValidation()
    }
  }
}
</script>
