<template>
  <q-card
    flat
    class="keynote-speaker bg-transparent text-center q-pa-md cursor-pointer"
    @click="showSpeakerDetailsDialog = true"
  >
    <q-avatar>
      <img :src="speakerAvatar" >
    </q-avatar>

    <q-card-section class="text-center">
      <div class="text-h6 text-primary">
        {{ username }}
      </div>
    </q-card-section>

    <q-dialog v-model="showSpeakerDetailsDialog">
      <speaker-details :user="user" />
    </q-dialog>
  </q-card>
</template>

<script>
import SpeakerDetails from './SpeakerDetails'

export default {
  name: 'KeynoteSpeakerCard',

  props: ['user'],

  components: {
    SpeakerDetails
  },

  data () {
    return {
      showSpeakerDetailsDialog: false
    }
  },

  computed: {
    username () {
      return this.user ?
        `${this.user.first_name} ${this.user.middle_name} ${this.user.last_name}` :
        ''
    },

    speaker () {
      return this.user.speaker || {}
    },

    speakerAvatar () {
      return (this.user && this.user.avatar)
          ? `${process.env.BACK_URL}/public/storage/${this.user.avatar}`
          : 'default_avatar.jpg'
    },

    cvLink () {
      return (this.speaker && this.speaker.cv)
        ? `${process.env.BACK_URL}/public/storage/${this.speaker.cv}`
        : ''
    }
  }
}
</script>
