<template>
  <q-card class="speaker-details">
    <q-item>
      <q-item-section avatar>
        <q-avatar>
          <img :src="speakerAvatar">
        </q-avatar>
      </q-item-section>

      <q-item-section>
        <q-item-label>
          {{ username }}
        </q-item-label>

        <q-item-label caption>
          {{ $tc('speakers', 1) }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <q-card-section v-if="cvLink">
      <div class="text-subtitle text-primary">
        <a class="no-underline" :href="cvLink" target="_blank">
          {{ $t('link-to-cv') }}

          <q-icon name="open_in_new" />
        </a>
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div class="text-h6 text-primary">
        {{ $t('biography') }}
      </div>
    </q-card-section>

    <q-card-section class="text-justify q-pt-none">
      <div v-html="speaker.biography"></div>
    </q-card-section>

    <q-card-actions align="right">
      <q-btn flat :label="$t('ok')" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'SpeakerDetails',

  props: ['user'],

  computed: {
    username () {
      return this.user ?
        `${this.user.first_name} ${this.user.middle_name} ${this.user.last_name}` :
        ''
    },

    speaker () {
      return this.user.speaker || {}
    },

    speakerAvatar () {
      return (this.user && this.user.avatar)
          ? `${process.env.BACK_URL}/public/storage/${this.user.avatar}`
          : 'default_avatar.jpg'
    },

    cvLink () {
      return (this.speaker && this.speaker.cv)
        ? `${process.env.BACK_URL}/public/storage/${this.speaker.cv}`
        : ''
    }
  }
}
</script>
