<template>
  <q-card class="topic-card">
    <q-card-section class="text-center">
      <div class="text-h6 text-primary">
        {{ $tc('topics', 1) }}:
      </div>

      <div class="text-h6">
        {{ topic.name }}
      </div>
    </q-card-section>

    <q-card-section class="topic-description text-justify q-pt-none">
      <div class="text-h6 text-primary text-center">
        {{ $t('description') }}:
      </div>

      <template v-if="topic.description">
        <div v-html="descriptionExcerpt"></div>

        <q-tooltip>
          <div v-html="topic.description"></div>
        </q-tooltip>
      </template>

      <div v-else class="text-caption text-center">
        {{ $t('no-description-provided') }}
      </div>
    </q-card-section>

    <q-card-section class="q-py-none text-right">
      <q-rating
        v-model="ranking"
        color="yellow"
        icon="star"
        size="1.5em"
      />
    </q-card-section>

    <q-card-actions align="center">
      <q-btn color="primary" no-caps @click="submit">
        {{ $t('submit')}}
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { setPreferredTopics } from 'api/topic'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'TopicCard',

  props: ['topic', 'rating'],

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: null,
      ranking: 0
    }
  },

  computed: {
    descriptionExcerpt () {
      const fullDescription = this.topic.description

      if (!fullDescription) return ''

      return fullDescription.length > 200 ?
        `${fullDescription.substring(0, 200)}...` :
        fullDescription
    }
  },

  methods: {
    async submit () {
      try {
        this.loading = true
        this.error = false

        const data = {
          topic_id: this.topic.id,
          ranking: this.ranking
        }

        await setPreferredTopics(data)

        this.loading = false

        this.$q.notify({
          color: 'positive',
          icon: 'check',
          message: this.$t('rating-saved'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  mounted () {
    this.ranking = this.rating
  }
}
</script>
