// Variables
@import "../quasar.variables";

.home {

  .q-carousel__slides-container {
    background-color: $accent;

    .q-carousel__slide {
      padding: 0;
      position: relative;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        opacity: 0.4;
        z-index: 2;
      }

      .banner-caption {
        z-index: 3;
      }
    }
  }

  .page-section  {

    &:nth-child(odd) {
      background-color: $accent;
    }

    .section-title {

      .section-title__text {
        color: $primary;
        display: inline-block;
        text-transform: uppercase;

        .text-h6 {
          font-weight: bold;
        }
      }

      .section-title__bg {
        background-color: $secondary;
        margin-top: -15px;
        padding: 10px;
      }
    }
  }
}
