// Variables
@import "quasar.variables";

@font-face {
  font-family: muli;
  src: url(../assets/fonts/Mulish-VariableFont_wght.ttf);
}

// Declare a class which applies it
.muli-font {
  font-family: 'muli';
}

body {
  font-family: 'muli';
}

.auth, .profile {
  width: 50%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.no-underline {
  text-decoration: none;

  &:active {
    color: $primary;
  }
}

.keynote-speaker {

  .q-avatar {
    border-radius: 50% !important;
    font-size: 150px;
  }
}

.speaker-details {
  min-width: 360px;
}

// Component Styles
@import "components/links";
