<template>
  <q-page class="home">
    <q-carousel
      v-model="slide"
      height="60vh"
    >
      <q-carousel-slide
        name="home"
        img-src="banner.jpg"
        class="column no-wrap"
      >
        <div class="full-width full-height flex flex-center">
          <div class="overlay"></div>

          <div class="banner-caption text-center text-white q-pa-md">
            <div class="text-h4 text-weight-bold">
              {{ $t('join-us') }}
            </div>

            <div class="text-subtitle">
              {{ $t('event-date-location') }}
            </div>
          </div>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <q-card flat class="page-section about-event q-pa-md">
      <q-card-section>
        <div class="section-title text-center">
          <div class="section-title__text">
            <div class="text-h6 q-px-md">
              {{ $t('about-event') }}
            </div>

            <div class="section-title__bg"></div>
          </div>
        </div>
      </q-card-section>

      <q-card-section class="text-justify q-pt-none q-px-xl">
        {{ lorem }}
      </q-card-section>
    </q-card>

    <q-card flat class="page-section speaker-block q-pa-md">
      <q-card-section>
        <div class="section-title text-center">
          <div class="section-title__text">
            <div class="text-h6 q-px-md">
              {{ $t('meet-keynote-speakers') }}
            </div>

            <div class="section-title__bg"></div>
          </div>
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row q-gutter-md" v-for="(chunk, index) in speakerChunks" :key="index">
          <div class="col-sm-6 col-md-4" v-for="user in chunk" :key="user.id">
            <keynote-speaker-card :user="user" />
          </div>
        </div>
      </q-card-section>

      <q-inner-loading :showing="workshopsLoading">
        <q-spinner-gears size="50px" color="primary" />
      </q-inner-loading>
    </q-card>

    <q-card flat class="page-section workshop-block q-pa-md">
      <q-card-section>
        <div class="section-title text-center">
          <div class="section-title__text">
            <div class="text-h6 q-px-md">
              {{ $t('workshop-choices') }}
            </div>

            <div class="section-title__bg"></div>
          </div>
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row q-gutter-md" v-for="(chunk, index) in workshopChunks" :key="index">
          <div class="col-sm-6 col-md-4" v-for="workshop in chunk" :key="workshop.id">
            <workshop-card :workshop="workshop" />
          </div>
        </div>
      </q-card-section>

      <q-inner-loading :showing="workshopsLoading">
        <q-spinner-gears size="50px" color="primary" />
      </q-inner-loading>
    </q-card>

    <q-card flat class="page-section topic-block q-pa-md">
      <q-card-section>
        <div class="section-title text-center">
          <div class="section-title__text">
            <div class="text-h6 q-px-md">
              {{ $t('topic-choices') }}
            </div>

            <div class="section-title__bg"></div>
          </div>
        </div>

        <div class="text-sutitle text-center">
          {{ $t('rate-topic-interest') }}
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row q-gutter-md" v-for="(chunk, index) in topicChunks" :key="index">
          <div class="col-sm-6 col-md-4" v-for="topic in chunk" :key="topic.id">
            <topic-card :topic="topic" :rating="getRating(topic.id)" />
          </div>
        </div>
      </q-card-section>

      <q-inner-loading :showing="topicsLoading">
        <q-spinner-gears size="50px" color="primary" />
      </q-inner-loading>
    </q-card>
  </q-page>
</template>

<script>
import { getTopics, getPreferredTopics } from 'api/topic'
import { getKeynoteSpeakers } from 'api/user'
import { getWorkshops } from 'api/workshop'
import TopicCard from 'components/Topics/TopicCard'
import KeynoteSpeakerCard from 'components/Speakers/KeynoteSpeakerCard'
import WorkshopCard from 'components/Workshops/WorkshopCard'
import { chunk, getErrorMsgFromResponse } from 'utils'

export default {
  name: 'Home',

  components: {
    TopicCard,
    WorkshopCard,
    KeynoteSpeakerCard
  },

  data () {
    return {
      error: false,
      errorMsg: null,
      workshopsLoading: false,
      topicsLoading: false,
      speakersLoading: false,
      slide: 'home',
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  },

  computed: {
    authUser () {
      return this.$store.state.auth.user
    },

    mWorkshops () {
      return this.$store.state.workshops.workshops
    },

    mTopics () {
      return this.$store.state.topics.topics
    },

    mPreferredTopics () {
      return this.$store.state.topics.preferred
    },

    mKeynoteSpeakers () {
      return this.$store.state.users.keynoteSpeakers
    },

    topicChunks () {
      return chunk(this.mTopics, 4)
    },

    workshopChunks () {
      return chunk(this.mWorkshops, 3)
    },

    speakerChunks () {
      return chunk(this.mKeynoteSpeakers, 4)
    }
  },

  methods: {
    async getWorkshops () {
      try {
        this.workshopsLoading = true

        const response = await getWorkshops()

        this.workshopsLoading = false

        const workshops = response.data

        // Commit workshops to state
        this.$store.commit('workshops/setWorkshops', workshops)
      } catch (error) {
        this.workshopsLoading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getTopics () {
      try {
        this.topicsLoading = true

        const response = await getTopics()

        this.topicsLoading = false

        const topics = response.data

        // Commit topics to state
        this.$store.commit('topics/setTopics', topics)
      } catch (error) {
        this.topicsLoading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getPreferredTopics () {
      try {
        const response = await getPreferredTopics()

        const preferred = response.data

        // Commit preferred to state
        this.$store.commit('topics/setPreferred', preferred)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getKeynoteSpeakers () {
      try {
        this.speakersLoading = true

        const response = await getKeynoteSpeakers()

        this.speakersLoading = false

        const speakers = response.data

        // Commit speakers to state
        this.$store.commit('users/setKeynoteSpeakers', speakers)
      } catch (error) {
        this.speakersLoading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getRating(topicId) {
      const preferredTopic = this.mPreferredTopics.find(p => p.topic_id === topicId)

      return preferredTopic ? preferredTopic.ranking : 0
    }
  },

  mounted () {
    this.getWorkshops()
    this.getTopics()
    this.getPreferredTopics()
    this.getKeynoteSpeakers()
  }
}
</script>

<style lang="scss">
@import '../../css/pages/home';
</style>
