<template>
  <q-layout view="hhh Lpr fFf" class="bg-accent">
    <q-header elevated reveal>
      <q-toolbar class="q-px-xl">
        <!-- <q-avatar>
          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" :alt="appName">
        </q-avatar> -->

        <q-toolbar-title class="text-weight-bold">
          {{ appName }}
        </q-toolbar-title>

        <q-space></q-space>

        <q-btn
          v-if="!isLoginRoute"
          class="text-weight-bold "
          outline
          no-caps
          :label="$t('login')"
          :to="{ name: 'Login' }"
        />

        <q-btn
          v-if="!isRegisterRoute"
          class="text-weight-bold q-ml-md"
          outline
          no-caps
          :label="$t('register')"
          :to="{ name: 'Register' }"
        />

        <q-select
          class="q-px-md"
          v-model="lang"
          :options="langOptions"
          :label="locale"
          dark
          dense
          borderless
          emit-value
          map-options
          options-dense
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <router-view />
      </transition>
    </q-page-container>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      <div v-html="copyright"></div>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  name: 'AuthLayout',

  data() {
    return {
      appName: process.env.APP_NAME,
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en-us', label: 'English' },
        { value: 'fr-fr', label: 'Français' }
      ]
    }
  },

  computed: {
    isLoginRoute() {
      return this.$route.name === 'Login'
    },

    isRegisterRoute() {
      return this.$route.name === 'Register'
    },

    locale() {
      return this.$i18n.locale.toUpperCase()
    },

    copyright() {
      const year = new Date().getFullYear()

      return `${this.appName} &#169; ${year} | ${this.$t('all-rights-reserved')}`
    }
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  }
}
</script>
