<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated reveal>
      <q-toolbar class="q-px-xl">
        <!-- <q-avatar>
          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" :alt="appName">
        </q-avatar> -->

        <q-toolbar-title class="text-weight-bold">
          {{ appName }}
        </q-toolbar-title>

        <q-space></q-space>

        <q-btn
          v-if="isProfileRoute"
          class="text-weight-bold q-ml-md"
          outline
          no-caps
          :label="$t('home')"
          :to="{ name: 'Home' }"
        />

        <q-btn
          v-else
          class="text-weight-bold q-ml-md"
          outline
          no-caps
          :label="$t('profile')"
          :to="{ name: 'Profile' }"
        />

        <q-select
          class="q-px-md"
          v-model="lang"
          :options="langOptions"
          :label="locale"
          dark
          dense
          borderless
          emit-value
          map-options
          options-dense
        />

        <q-btn
          :loading="loading"
          @click="logout"
          flat
          round
          icon="exit_to_app"
        >
          <q-tooltip>
            {{ $t('logout') }}
          </q-tooltip>

          <template v-slot:loading>
            <q-spinner-hourglass />
          </template>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <router-view />
      </transition>
    </q-page-container>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      {{ appName }} &copy; {{ year }} | {{ $t('all-rights-reserved') }}
    </q-footer>
  </q-layout>
</template>

<script>
import { Plugins } from '@capacitor/core'
import { logout } from 'api/auth'
import { getErrorMsgFromResponse } from 'utils'

const { Storage } = Plugins

export default {
  name: 'MainLayout',

  data () {
    return {
      appName: process.env.APP_NAME,
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en-us', label: 'English' },
        { value: 'fr-fr', label: 'Français' }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    authUser () {
      return this.$store.state.auth.user
    },

    isProfileRoute () {
      return this.$route.name === 'Profile'
    },

    locale () {
      return this.$i18n.locale.toUpperCase()
    },

    year () {
      return new Date().getFullYear()
    }
  },

  methods: {
    async logout () {
      try {
        this.loading = true
        this.error = false

        await logout()

        // Remove user and token from storage
        await Storage.remove({ key: process.env.STORAGE_USER_KEY })
        await Storage.remove({ key: process.env.STORAGE_TOKEN_KEY })

        // Commit loggedIn status and user to store
        this.$store.commit('auth/setUser', {})
        this.$store.commit('auth/setLoggedIn', false)

        // Redirect user to login page
        this.$router.push({ name: 'Login' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('logout-successful'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  },

  async mounted () {
    if (this.authUser && Object.keys(this.authUser).length === 0 && this.authUser.constructor === Object) {
      // Retrieve authenticated user from storage
      const { value } = await Storage.get({ key: process.env.STORAGE_USER_KEY })

      const user = JSON.parse(value);

      // Commit authenticated user to state
      this.$store.commit('auth/setUser', user)
    }
  }
}
</script>
