<template>
  <q-card class="workshop-card">
    <template>
      <img
        class="cursor-pointer"
        :src="speakerAvatar"
        @click="showSpeakerDetailsDialog = true"
      >

      <q-card-section
        class="text-center cursor-pointer"
        @click="showSpeakerDetailsDialog = true"
      >
        <div class="text-h6 text-primary">
          {{ username }}
        </div>

        <div class="text-caption">
          {{ $tc('speakers', 1) }}
        </div>
      </q-card-section>

      <q-dialog v-model="showSpeakerDetailsDialog">
        <speaker-details :user="user" />
      </q-dialog>
    </template>

    <q-card-section class="text-center">
      <div class="text-h6 text-primary">
        {{ $tc('workshops', 1) }}:
      </div>

      <div class="text-h6">
        {{ workshop.title }}
      </div>

      <div class="text-subtitle text-primary">
        {{ topic.name }}
      </div>
    </q-card-section>

    <q-card-section class="workshop-outline text-justify q-pt-none">
      <div class="text-h6 text-primary text-center">
        {{ $t('outline') }}:
      </div>

      <div v-html="outlineExcerpt"></div>

      <q-tooltip>
        <div v-html="workshop.outline"></div>
      </q-tooltip>
    </q-card-section>

    <q-card-actions align="center">
      <q-btn color="primary" flat round icon="event" />

      <q-btn flat no-caps>
        {{ $t(`session.${workshop.session}`)}}
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import SpeakerDetails from '../Speakers/SpeakerDetails'

export default {
  name: 'WorkshopCard',

  props: ['workshop'],

  components: {
    SpeakerDetails
  },

  data () {
    return {
      showSpeakerDetailsDialog: false
    }
  },

  computed: {
    user () {
      return this.workshop.speaker
    },

    username () {
      return this.user ?
        `${this.user.first_name} ${this.user.middle_name} ${this.user.last_name}` :
        ''
    },

    speaker () {
      return this.user.speaker || {}
    },

    speakerAvatar () {
      return (this.user && this.user.avatar)
          ? `${process.env.BACK_URL}/public/storage/${this.user.avatar}`
          : 'default_avatar.jpg'
    },

    topic () {
      return this.workshop.topic
    },

    outlineExcerpt () {
      const fullOutline = this.workshop.outline

      if (!fullOutline) return ''

      return fullOutline.length > 50 ?
        `${fullOutline.substring(0, 50)}...` :
        fullOutline
    }
  }
}
</script>
